video, input {
    display: block;
}

input {
    width: 100%;       
}

.info {
    background-color: aqua;            
}

.error {
    background-color: red;
    color: white;
}

#data-table {
    padding: 0px 0px 0px 10px;
    font-family: calibri, arial;
    width: 400px;
}

#data-table thead td {
    background-color: #8CCCF1;
}

#data-table td {
    border: 1px solid #466E85;
    width: 136px;
    padding: 7px;
}